<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10" style="margin-top: 8%;">
                <div class="card">
                    <h1 class="display-6" style="text-align: center;">
                        <%= foundProduct.name %>
                    </h1>
                </div>
                <div class="card">
                    <img src="<%= foundProduct.image %>">
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>
                            <%= foundProduct.detail %>
                        </p>
                        <p>Category:
                            <%= foundProduct.category %>
                        </p>
                        <h3>Rs.
                            <%= foundProduct.price %>
                        </h3>
                        <p>Quantity Availabe-
                            <%= foundProduct.qtyAvl %>
                        </p>

                        <!-- <a href='/products/<%= foundProduct._id %>/edit'><button class="btn btn-primary">Edit
                                    Product</button></a>
                        <form action='/products/<%= foundProduct._id %>?_method=DELETE' method='POST'>
                            <button class="btn btn-danger">Delete</button>
                        </form> -->



                        <a href="#"><button class="btn btn-primary">Add to cart</button></a>
                        <a href='/products/<%= foundProduct._id %>/buy'><button class="btn btn-success">Buy Now</button></a>

                        <a href='/products'><button class="btn btn-primary">Back to Products</button></a>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>



    <!-- <h2>
        <%= foundProduct.name %>
    </h2>
    <img src="<%= foundProduct.image %>">
    <p>Category:
        <%= foundProduct.category %>
    </p>
    <h3>Rs.
        <%= foundProduct.price %>
    </h3>
    <p>Quantity Availabe-
        <%= foundProduct.qtyAvl %>
    </p>
    <a href='/products/<%= foundProduct._id %>/edit'><button>Edit Product</button></a>
    <a href='/products'>Back to Products</a>
    <a href="#">Add to cart</a>
    <a href='#'>Buy Now</a>
    <form action='/products/<%= foundProduct._id %>?_method=DELETE' method='POST'>
        <button>Delete</button>
    </form> -->
    <!-- JavaScript Bundle with Popper -->
    <%- include('../partials/footer') %>